#content-main-component{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 6.7%;
    min-height: 350px;
    justify-content:space-between ;
}
.content-title{
    /* font-weight: 900; */
    color: white;
    font-size: 30px;
    width: 700px;

}
.content-text{
    /* margin-top: 48px; */
    color: white;
    font-size: 16px;
    width: 600px;
}

.button-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}
.button-text{
    color: #9B9B9B;
    font-size: 14px;
    width: 400px;
    /* margin-left: 50px; */
}

.button-menu-subscribe{
    width: 180px;
    height: 46px;
    
    background: linear-gradient(90deg, #E8834A 0%, #E84A4A 100%);
    border-radius: 14px;

    color: white;
    font-weight: 800;
    font-size: 17px;
}