.footer {
    /* position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px; */
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.socialMedia-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.socialMedia{
    display: flex;
    cursor: pointer;
}

.socialMedia-text{
    color: white;
    margin: 8px;
    cursor: pointer;
}

.footer-lag-image{
    height: 50px;
}