body{
    background: url('./assets/background/back.svg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

h2{
    color: white;
    font-weight: 700;
}
:root{
    --margin-standart: 5%;
}
button{
    border: none;
    cursor: pointer;
}